{% extends 'base.html' %}
{% block main_content %}

<button onclick="loadPublishers()">Click Me</button>

{% include '_parts/_publisher_summary.html' %}

<div id='publisher_list_wrapper'>
  {% include '_parts/publisher_list.html' %}
</div>

<script>
  window.onload = function () {
    var searchSubmit = document.getElementById("publisher-search-submit").addEventListener('click', function() {
      var searchInput = document.getElementById("publisher-search-input").value;
      $.ajax({
        type: "GET",
        url: "/publisher_list", 
        data: {search: searchInput},
        success: function(result) {
          var publishersList = result;
          var list = document.getElementById('publisher_list_wrapper');
          list.innerHTML = publishersList;
        },
      })
    })
  };
</script>
{% endblock %}
