{% extends 'base.html' %}
{% block main_content %}

<article class="prose-section__main">
    <div class="prose">
      <section class="prose__section prose__intro">
        <h1 class="h1">{{ num_of_publishers }} organisations are publishing grants data to the 360Giving open data standard.</h1>
      </section>
        <section class="prose__section">
          <p class="p">
            This means they are sharing information about their grantmaking in a way which allows others to
            use it easily and for free. You can use the table below to download datasets from these organisations.
            You will see that each dataset has its own license attached to it. These licenses specify how the data
            can be shared and used. The data in these spreadsheets is used and displayed by a growing number of
            tools and websites. If you are looking for examples of what can be created using this data,
            please visit the <a href="http://www.threesixtygiving.org/data/find-data/" target="_blank">Tools &amp; Projects</a>
            page.
          </p>
          <p class="p devs-info">
            <strong>Developers:</strong> For a JSON feed of published datasets visit
            <a href="http://standard.threesixtygiving.org/en/latest/getdata/" target="_blank">
              http://standard.threesixtygiving.org/en/latest/getdata/</a>
          </p>
          <p class="p">
            Using our templates you can publish data directly on your own website, keeping you in control.
            By registering your data with 360Giving, it becomes easier for others to find, analyse and re-use.
            If you would like to find out about the free support we can provide to help you publish your grants data,
            please <a href="http://www.threesixtygiving.org/contact/" target="_blank">contact us</a>.
          </p>
          <p class="p p_smaller_font_size">
            <strong><sub>*</sub></strong>
            Funders make grants in different currencies. Grants are listed in the currency in which they were made.
          </p>
        </section>
    </div>      
</article>

<ul class="list-section">
      
  {% if data %}
    {% for org_prefix, pub in data.items() %}
    <li class="list-section__item" id="{{ org_prefix }}">
      <article class="registry-card" title="{{ pub.publisher.name }}">
        <div class="registry-card__pub-logo">
            <a href="{{ pub.publisher.website }}" target="_blank">
            {% if pub.publisher.logo %}
              <img src="{{ pub.publisher.logo }}" alt="{{ pub.publisher.name }}">
            {% endif %}
            </a>
        </div>
        <div class="registry-card__content">
          <h3 class="registry-card__pub-name">
            <a href="{{ pub.publisher.website }}" target="_blank">{{ pub.publisher.name }}</a>
          </h3>
          
          <ul class="registry-card__list">

            <li class="registry-card__item ">
              <table class="registry-grant">
                {% for grant in pub.grant %}
                  <tr class="registry-grant__line">
                    <td class="registry-grant__title" colspan="3">{{ grant.file.title }}</td>
                  </tr>

                  <tr class="registry-grant__line">
                    <td class="registry-grant__pub-date">Published {{ grant.issued_date }}</td>
                    <td class="registry-grant__records">
                      {% if grant.records %}
                      Records
                      <span class="registry-grant__grant-n">{{grant.records}}</span>
                      {% endif %}
                    </td>
                    <td class="registry-grant__amount">
                      {% for value in grant['total_value']%}
                        {% set value_split = value.split(" ", maxsplit=1) %}
                        <div>
                          {{value_split[0] | safe}}
                          <span class="registry-grant__amount-n">{{ value_split[1] | safe }}</span>
                        </div>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr class="registry-grant__line">
                    <td>
                      {% if grant.file.type.lower() == 'excel' %}
                      <a class="registry-grant__file registry-grant--xls"  href="{{grant.file.url}}" download title="Excel Spreadsheet - {{grant.file.size}}">Excel - {{grant.file.size}}</a>
                      {% elif grant.file.type.lower() == 'csv' %}
                      <a class="registry-grant__file registry-grant--csv"  href="{{grant.file.url}}" download title="JSON - {{grant.file.size}}">CSV - {{grant.file.size}}</a>
                      {% elif grant.file.type.lower() == 'json' %}
                      <a class="registry-grant__file registry-grant--json" href="{{grant.file.url}}" download title="Comma Separated Values - {{grant.file.size}}">JSON - {{grant.file.size}}</a>
                      {% elif grant.file.type.lower() == 'ods' %}
                      <a class="registry-grant__file registry-grant--ods"  href="{{grant.file.url}}" download title="Open Document Spreadsheet - {{grant.file.size}}">ODS - {{grant.file.size}}</a>
                      {% endif %}
                    </td>
                    {% if grant.valid %}
                    <td class="registry-grant__validation registry-grant--validated">
                      Data Validated
                      <i class="material-icons">check_circle_outline</i>
                    </td>
                    {% else %}
                    <td class="registry-grant__validation registry-grant--invalid">
                      Data Invalid
                      <i class="material-icons">highlight_off</i>
                    </td>
                    {% endif %}
                    <td class="registry-grant__license">
                      Licence 
                      <a href="{{grant.licence.url}}" target="_blank">
                      {% if grant.licence.name == "Creative Commons Attribution 4.0 International (CC BY 4.0)" %}
                        
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licences/creative-commons-main.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Creative Commons Attribution 4.0" %}
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licences/creative-commons-main.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Creative Commons Attribution Share-Alike 4.0" %}
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licences/creative-commons-main.svg') }}" alt="{{grant.licence.name}}">
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licences/Cc-sa.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "CCO" %}
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licences/Cc-zero.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Open Data Commons Public Domain Dedication and Licence 1.0" %}
                        <img class="license license--pddl" src="{{ url_for('.static', filename='images/licences/pddl.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Open Government Licence 3.0 (United Kingdom)" %}
                        <img class="license license--ogl" src="{{ url_for('.static', filename='images/licences/UKOpenGovernmentLicence.svg') }}" alt="{{grant.licence.name}}">
                      {% endif %}
                      </a>
                    </td>
                  </tr>
                {% endfor %}  
              </table>
            </li>
          </ul>
        </div>
      </article>

    </li>
    {% endfor %}
  {% endif %}

  </ul>
</div>

{% endblock %}