{% extends 'base.html' %}
{% block main_content %}

<div class = "page-header">
  <h1>DATA REGISTRY</h1>
</div>

<div>
  <p><strong>More than 80 organisations are publishing grants data to the 360Giving open data standard.</strong></p>
  <p>
    This means they are sharing information about their grantmaking in a way which allows others to
    use it easily and for free. You can use the table below to download datasets from these organisations.
    You will see that each dataset has its own license attached to it. These licenses specify how the data
    can be shared and used. The data in these spreadsheets is used and displayed by a growing number of
    tools and websites. If you are looking for examples of what can be created using this data,
    please visit the <a href="http://www.threesixtygiving.org/data/find-data/" target="_blank">Tools &amp; Projects</a>
    page.
  </p>
  <p class="devs-info">
    <strong>Developers:</strong> For a JSON feed of published datasets visit
    <a href="http://standard.threesixtygiving.org/en/latest/getdata/" target="_blank">
      http://standard.threesixtygiving.org/en/latest/getdata/</a>
  </p>
  <p>
    Using our templates you can publish data directly on your own website, keeping you in control.
    By registering your data with 360Giving, it becomes easier for others to find, analyse and re-use.
    If you would like to find out about the free support we can provide to help you publish your grants data,
    please <a href="http://www.threesixtygiving.org/contact/" target="_blank">contact us</a>.
  </p>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Organisation</th>
      <th scope="col">File</th>
      <th scope="col">First published</th>
      <th scope="col">Last modified</th>
      <th scope="col">Valid?</th>
      <th scope="col">First grant</th>
      <th scope="col">Latest grant</th>
      <th scope="col">Grants</th>
      <th scope="col">Recipients</th>
      <th scope="col">Total value</th>
      <th scope="col">Licence</th>
    </tr>
  </thead>

  <tbody>
    {% if data %}
      {% for org_prefix, org_data in data.items() %}
        <tr>
          <td scope="rowgroup" rowspan="{{ org_data['grant'] | length }}">
            <div>
              {% if org_data['publisher']['logo'] %}
                <img class="tlogo" src="{{ org_data['publisher']['logo'] }}" width="100">
              {% endif %}
            </div>
            <div>{{ org_data['publisher']['name'] }}</div>
          </td>
          {% if org_data['grant'] %}
            <td>
              {% if org_data['grant'][0]['file']['available'] %}
                <a href="{{ org_data['grant'][0]['file']['url'] }}">
                  <img src="../images/files/{{ org_data['grant'][0]['file']['type'] }}.png" width="80" height="80">
                </a>
              {% endif %}
            </td>
            <td>{{ org_data['grant'][0]['issued_date'] }}</td>
            <td>{{ org_data['grant'][0]['modified_date'] }}</td>
            <td>{{ org_data['grant'][0]['valid'] | safe }}</td>
            <td>{{ org_data['grant'][0]['first_date'] }}</td>
            <td>{{ org_data['grant'][0]['last_date'] }}</td>
            <td>{{ org_data['grant'][0]['num_awards'] }}</td>
            <td>{{ org_data['grant'][0]['num_recipients'] }}</td>
            <td>
              {% for amount in org_data['grant'][0]['total_amount_awarded'] %}
                <div>{{ amount | safe }}</div>
              {% endfor %}
            </td>
            <td>{{ org_data['grant'][0]['licence'] | safe }}</td>
          {% endif %}
        </tr>
        {% if org_data['grant'] | length > 1%}
          {% for grant in org_data['grant'][1:] %}
            <tr>
              <td>
                {% if org_data['grant'][0]['file']['available'] %}
                  <a href="{{ grant['file']['url'] }}">
                    <img src="../images/files/{{ grant['file']['type'] }}.png" width="80" height="80">
                  </a>
                {% endif %}
              </td>
              <td scope="row">{{ grant['issued_date'] }}</td>
              <td scope="row">{{ grant['modified_date'] }}</td>
              <td scope="row">{{ grant['valid'] | safe }}</td>
              <td scope="row">{{ grant['first_date'] }}</td>
              <td scope="row">{{ grant['last_date'] }}</td>
              <td scope="row">{{ grant['num_awards'] }}</td>
              <td scope="row">{{ grant['num_recipients'] }}</td>
              <td scope="row">
                {% for amount in grant['total_amount_awarded']%}
                  <div>{{ amount | safe }}</div>
                {% endfor %}
              </td>
              <td scope="row">{{ grant['licence'] | safe }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock %}