<ul class="card-list">
  <li class="card-list__item">
    <article class="media-card media-card--red">
      <div class="media-card__content">
        <header class="media-card__header">
          <h3 class="media-card__heading">Locations</h3>
        </header>
        <p>
          Grants with location data can be used to map grants, and help people
          understand where the money goes
        </p>
        <div class="grid grid--two-columns">
          <span class="inline grid__1">
            <h2 class="inline">{{ data.publisher.recipient_location }}%</h2>
            <img
              class="stat-logo"
              src="{{ url_for('.static', filename='images/360-logos/360giving-standard.svg') }}"
              alt="publisher locations"
            />
            <p>of publishers providing recipient locations</p>
          </span>
          <span class="inline grid__1">
            <h2 class="inline">{{ data.publisher.beneficiary_location_names }}%</h2>
            <img
              class="stat-logo"
              src="{{ url_for('.static', filename='images/360-logos/360giving-standard.svg') }}"
              alt="publisher locations"
            />
            <p>of publishers provide beneficiary location names</p>
          </span>
        </div>
      </div>
    </article>
  </li>
  <li class="card-list__item">
    <article class="media-card media-card--teal">
      <div class="media-card__content">
        <header class="media-card__header">
          <h3 class="media-card__heading">Organisation Information</h3>
        </header>
        <p>
          High-quality organisation information helps data users know exactly
          who's involved in each grant
        </p>
        <div class="grid grid--two-columns">
          <span class="inline grid__1">
            <h2 class="inline">{{ data.publisher.charity_numbers }}%</h2>
            <img
              class="stat-logo"
              src="{{ url_for('.static', filename='images/360-logos/360giving-standard.svg') }}"
              alt="publisher locations"
            />
            <p>Has company or charity numbers</p>
          </span>
          <span class="inline grid__1">
            <h2 class="inline">{{ data.publisher.external_identifiers_95 }}%</h2>
            <img
              class="stat-logo"
              src="{{ url_for('.static', filename='images/360-logos/360giving-standard.svg') }}"
              alt="publisher locations"
            />
            <p>Have at least 95% external identifiers for recipients</p>
          </span>
          <span class="inline grid__all">
            <canvas id="location-chart" width="400" height="200"></canvas>
            <div id="location-plot" style='width="400"; height="200";'></div>
          </span>
        </div>
      </div>
    </article>
  </li>
</ul>

<script>
  window.onload = function () {
    var ctx = document.getElementById("location-chart");
    var graph_data = {{ data.org_info_graph|safe }}
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: graph_data.labels,
        datasets: [
          {
            label: "# of publishers",
            data: graph_data.data,
            backgroundColor: "hsl(186, 42%, 51%)",
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            xAxisKey: "x",
            yAxisKey: "y",
          },
        },
      },
    });

    var location = document.getElementById("location-plot");
    var layout = {
      xaxis: {
        type: 'category'
      }
    };
    Plotly.newPlot(
      location,
      [
        {
          x: graph_data.labels,
          y: graph_data.data,
          type: "bar",
          marker: {
            color: "hsl(186, 42%, 51%)",
          },
        },
      ],
      layout,
    );
  };
</script>
