<div class="top-bar">
  <button class="top-bar__menu-trigger"><i class="material-icons">menu</i></button>

  <nav class="top-bar__menu contextual-menu">
    {% for p in top_bar.pages %}
    <a href="{{p.url}}" class="contextual-menu__button">{{p.name}}</a>
    {% endfor %}
  </nav>

  <div class="off-canvas-menu{% if top_bar.state %} off-canvas-menu--{{ top_bar.state }}{% endif %}" aria-hidden>
    <button class="off-canvas-menu__trigger"><i class="material-icons">close</i></button>

    <nav>
      <ul class="off-canvas-menu__list">
        <a href="/" class="contextual-menu__button">Home</a>

        {% for h, links in top_bar.links %}
        <h3 class="off-canvas-menu__heading">Elements</h3>
        {% for i in links %}
        <li class="off-canvas-menu__item"><a href="{{i.url}}">{{i.name}}</a></li>
        {% endfor %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>