body {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 18px;
  line-height: 28px;
}

.container ul li.newsletter-signup a {
    text-decoration: none;
    font-size: 17px;
    color: #f48320;
    font-family: "Ostrich Sans Black", sans-serif;
    letter-spacing: 0.5px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.caret {
    display: none;
}

.page-header ol {
  padding: 0 0;
  background-color: #fff;
}

body div.container div.navbar-header .nav-second-row a {
  color: #3b3b3c;
}

.breadcrumb > li + li:before {
    content: "> " !important;
}

.page-header h1 {
  font-size: 41px;
  line-height: 40px;
  color: #9c2061;
  letter-spacing: 0.5px;
  font-family: "Ostrich Sans Black", sans-serif;
  margin: 0 0 20px;
}

body div.container.body-main a {
  color: #602f8f;
}

.footer {
  background-color: #3b3b3c;;
  color: #FFFFFF;
}

.footer a {
  color: #FFFFFF;
}

.footer .footer-third-row {
  color: #737373;
}

.footer .footer-third-row a {
  color: #737373;
}

