a {
  color: #602f8f !important;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
}

.page-header h1 {
  font-size: 41px;
  line-height: 40px;
  color: #9c2061;
  letter-spacing: 0.5px;
  font-family: "Ostrich Sans Black", sans-serif;
  margin: 0 0 20px;
}