.inline {
  display: inline-block;
}

.right {
  float: right;
}

.flex-full {
  flex: 0 0 100%;
}

.stat-logo {
  width: 275px;
  height: 75px;
  float: right;
}

.chart-container {
  width: 100%;
  height: 100%;
}
