/* Style the tab */
.tab {
  overflow: hidden;
  background-color: transparent;
  margin: 32px 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: transparent;
}
